.manage-schedule{
    font-size: 14px;
    padding: 2% 0 2%;
    .title{
        font-weight: 600;
        font-size: 25px;
    }
    .form-control{
        font-size: 14px;
        height: 38px;
    }
    .doctor-schedule{
        background-color: #fff;
        border-radius: 15px;
        padding: 2px 0;
        margin: 2% 3%;
        font-size: 16px;
        .list-time{
            // display: flex;
            .time{
                background-color: #fff;
                color: #000000;
                font-size: 16px;
                margin:2% 2% 2% 0;
                padding: 3px 5px;
            }
            .time.active{
                background-color: #0060ae;
                color: #fff;
                border: none;
            }
        }
        #add{
            font-size: 22px;
            margin-right: 5%;
        }
        .save-time{
            color: #0060ae;
            background-color: transparent;
            margin-right: 5%;
            font-size: 16px;
            font-weight: 600;
            width: 200px;
            height: 100%;
            padding: 5px 0 ;
        }
        .save-time:hover{
            background-color: #0060ae;
            color: #fff;
        }
        .cancel-time{
            color: #0060ae;
            background-color: transparent;
            font-size: 16px;
            font-weight: 600;
            height: 100%;
            padding: 5px 10px;
        }
        .cancel-time:active{
            background-color: #0060ae;
            color: #fff;
        }
    }
}
.schedule-table{
    margin-top: 4%;
    background-color: #fff;
    border-radius: 15px;
    padding: 3% 0%;
    padding-right: 0;
    width: 103%;
    h2{
        font-weight: 700;
        color: #000;
        font-size: 16px;
        padding-left: 2%;
    }
}
#schedule {
    border-collapse: collapse;
    font-size: 14px;
    margin-left: 3%;
    width: 95%;
    background-color: #fff;
    border-radius: 15px;
}

#schedule td, #schedule th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
#schedule #date{
    width: 50px;
}
#schedule td{
    height:100%;
    ul{  
        width: 100%;    
        padding-left: 1.25%; 
        li{
          display: flex;
          gap: 2%;  
          padding-top: 2%;
          p{

            background-color: #fff;
            border: 1px solid #928888;
            border-radius: 5px;
            padding: 1% 0;
            width: 100px;
            text-align: center;
        }
        }   
    }
    // border: 1px solid #ddd;
    padding: 10px;
}
    
// #schedule tr:hover {background-color: #ddd;}

#schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #8796a1;
    border: none;
}
#schedule #btn-schedule{
    width: 220px;
    padding-left: 1.25%;
    padding-top:1.25% ;
}
.btn-schedule{

    ul{
        width: 150px;
        border: none;
        display: flex;
        gap: 10%;
    }
    #edit, #delete{
        font-size: 20px;
        margin-right: 7%;
    }
    .btn-edit, .btn-delete{
        width: 80px;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid #928888;
        border-radius: 5px;
        color: #0060ae;
        cursor: pointer;
        padding: 8% 0;
    }
    .btn-delete{
        color: red;
    }
    .btn-edit:hover{
        background-color: #0060ae;
        color: #fff;
    }
    .btn-delete:hover{
        background-color: red;
        color: #fff;
    }
}